{% extends "page.md.j2" %}

{% block serialized %}
Serialized name: `{{serialized_name(fqname)}}`
{% endblock %}

{% block metadata %}

| | |
|---|---|
| Name | {{metadata["name"]}} |
| Serialized name | `{{metadata["serialized_name"]}}` |
| Type | {{type_link(metadata["type"])}} |
| IRI | `{{metadata["IRI"]}}` |

{% endblock %}

{% block extra %}{% endblock %}
